* {
  font-family: Arial;
}

.bmi-form {
  max-width: 450px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5%;
  margin-bottom: 50px;
}

.bmi-header {
  text-align: center;
}
.bmi-form img {
  width: 250px;
  border: 5px solid;
}

.bmi-form h2 {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 26px;
  font-weight: bold;
}

.bmi-form p {
  padding-bottom: 20px;
  padding-top: 5px;
  font-size: 14px;
  margin: 0;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 95.5%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  resize: none;
}

button[type="submit"] {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #16a085;
}

#result {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

#result span {
  font-weight: bold;
}
